.animacion{
    width: 100px;
    height: 100px;
    background-color: bisque;
    position: relative;

}
.animacion:hover{
    animation-name: fiufiu;
    animation-duration: 15s;
}

@keyframes fiufiu {
    0%{
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    100%{
        background-color: green;
        left: 0;
        top: 200px;
    }
}