@media (max-width:768px){
    .first-container-footer{
        @include props-flex(column,none,center);
        
        width: 100%;
        
        gap: 30px;
        flex-wrap: wrap;
        height: auto;
        .div1{
            @include props-flex(row,center,none);
            width: 1em;
        }
        .div3{
            @include props-flex(column,center,center);
            
            width: 1em;
           
        }
        .div4{
            @include props-flex(column,center,center);
        }
    }
}